@import "~bootstrap";

:root {
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      --custom-offset: calc((100% - #{$container-max-width}) / 2);
    }
  }
}


@include media-breakpoint-up(sm) {
  .custom-offset-left {
    margin-left: var(--custom-offset);
  }

  .custom-offset-right {
    margin-right: var(--custom-offset);
    display: flex;
    justify-content: flex-end;
  }
}
